<section class="container w-[100%] max-w-[1660px] font-mono">
    <button class="inline-flex px-4 py-2 bg-black text-white text-sm font-medium rounded-md">
        Add User
    </button>
    <div class="w-full mt-2 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
              <th class="px-4 py-3">Username</th>
              <th class="px-4 py-3">E-mail</th>
              <th class="px-4 py-3">Role</th>
              <th class="px-4 py-3">Is Enabled</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700" *ngFor="let user of users">
              <td class="px-4 py-3 text-sm border">{{ user.username  }}</td>
              <td class="px-4 py-3 text-sm border">{{ user.email  }}</td>
              <td class="px-4 py-3 text-sm border">{{ user.authorities[0].authority }}</td>
              
              <td class="px-4 py-3 text-xs border">
                <span *ngIf="user.enabled" class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"> Active </span>
                <span *ngIf="!user.enabled" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-sm"> Disabled </span>
              </td>

              <td class="px-4 py-3 text-sm border">
                <button class="inline-flex px-4 py-2 bg-blue-400 text-white text-sm font-medium rounded-md">
                  Info
                </button>
                <button class="inline-flex px-4 py-2 ml-2 bg-gray-600 text-white text-sm font-medium rounded-md">
                  Update
                </button>
                <button class="inline-flex px-4 py-2 ml-2 bg-red-600 text-white text-sm font-medium rounded-md">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>