<section class="container w-[100%] max-w-[1660px]">
    <button type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 ml-4 mt-4">
        <a [routerLink]="'/admin/add-user'">Add Student</a>
    </button>
    <div class="flex flex-row w-full h-[calc(100vh-140px)] pb-2 flex-wrap overflow-y-scroll">
        <div class="w-full mt-2 rounded-lg shadow-lg">
            <table class="w-full">
                <thead>
                    <tr
                        class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <th class="px-4 py-3">Username</th>
                        <th class="px-4 py-3">E-mail</th>
                        <th class="px-4 py-3">Full Name</th>
                        <th class="px-4 py-3">Role</th>
                        <th class="px-4 py-3">Is Enabled</th>
                        <th class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr class="text-gray-700" *ngFor="let user of users">
                        <td class="px-4 py-3 text-sm border">{{ user.username | uppercase }}</td>
                        <td class="px-4 py-3 text-sm border">{{ user.email }}</td>
                        <td class="px-4 py-3 text-sm border">{{ user.firstName + " " + user.lastName }}</td>
                        <td class="px-4 py-3 text-sm border">{{ user.roles[0] }}</td>

                        <td class="px-4 py-3 text-xs border">
                            <input
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                                type="checkbox" role="switch" [checked]="user.enabled"
                                (click)="onUserStatusUpdate(user.userId, user.enabled)" />

                            <span *ngIf="user.enabled"
                                class="ml-2 px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">
                                Active </span>
                            <span *ngIf="!user.enabled"
                                class="ml-2 px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-sm">
                                Disabled </span>
                        </td>

                        <td class="px-4 py-3 text-sm border">
                            <button class="inline-flex px-4 py-2 bg-blue-400 text-white text-sm font-medium rounded-md">
                                Info
                            </button>
                            <button
                                class="inline-flex px-4 py-2 ml-2 bg-gray-600 text-white text-sm font-medium rounded-md"
                                (click)="updateUser(user.userId)">
                                Update
                            </button>
                            <button (click)="deleteUserById(user.userId)"
                                class="inline-flex px-4 py-2 ml-2 bg-red-600 text-white text-sm font-medium rounded-md">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>