<div fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="false">
        <!-- Information Section -->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-5">info</mat-icon>
                Information
            </ng-template>

            <!-- content -->

        </mat-tab>

        <!-- Questions -->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-5">question_answer</mat-icon>
                Questions
            </ng-template>

            <!-- content -->

        </mat-tab>

        <!-- Students -->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-5">group</mat-icon>
                Students
            </ng-template>

            <!-- content -->

        </mat-tab>

        <!-- Attempts -->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-5">assessment</mat-icon>
                Attempts
            </ng-template>

            <!-- content -->

        </mat-tab>

        <!-- Notifications -->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-5">notification_important</mat-icon>
                Notification
            </ng-template>

            <!-- content -->

        </mat-tab>
    </mat-tab-group>
</div>