<div fxLayout="column" fxLayoutAlign="start stretch" class="p-8">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <button mat-raised-button class="bg-black" (click)="createQuestion()">Create Question</button>
        <!-- <mat-form-field fxFlex="25">
            <mat-label>Search Classroom</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input> 
        </mat-form-field> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="mt-10">
        <h2>Questions</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFill fxLayout="column">
            <mat-card mat-elevation-z8 class="m-5" *ngFor="let ques of questions; let idx=index;">
                <div class="p-10" fxLayout="column" fxFill fxLayoutAlign="space-around stretch">
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <div>
                            <p class="question-title">{{ idx + 1 }}. {{ ques.questionText }}</p>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <p class="mr-10 font-15">{{ ques.questionType }}</p>
                                <button class="mr-10" mat-raised-button color="primary">Edit</button>
                                <button mat-raised-button color="warn">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div *ngIf="ques.questionType === 'SINGLE_CORRECT' || ques.questionType === 'TRUE_FALSE'">
                                <mat-radio-group>
                                    <div *ngFor="let option of ques.options">
                                        <mat-radio-button [checked]="option.isCorrect" [value]="option.optionText" [disabled]="true">{{
                                            option.optionText }}</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                            <div *ngIf="ques.questionType === 'MULTIPLE_CORRECT'">
                                <div *ngFor="let option of ques.options">
                                    <mat-checkbox [checked]="option.isCorrect" [disabled]="true">{{ option.optionText
                                        }}</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>