/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f5f5f5; }

.text-center{
    text-align: center;
}

.justify-center{
    justify-content: center;
}

.w100 {
    width: 100%;
}

.ml-20{
    margin-left: 20px;
}

.mt-20{
    margin-top: 20px;
}

.m-10{
    margin: 10px;
}

.m-5{
    margin: 5px;
}

.p10{
    padding: 10px;
}

.p20{
    padding: 20px;
}

.mlr-20{
    margin-left: 20px;
    margin-right: 20px;
}