.home-bg {
    background-color: black;
}

.home-font {
    color: white;
    font-size: 50px;
    margin-top: 370px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-font:hover{
    font-size: 55px;
    transition: 0.3s;
}

.home-font-line-2 {
    margin-top: 40px;
}