<div class="home-bg">
    <div>
        <app-header></app-header>
    </div>
    <div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="70">
                <img src="https://www.wallpaperflare.com/static/2/424/910/home-office-workstation-macbook-air-notebook-wallpaper.jpg"
                    height="853px" />
            </div>
            <div fxFlex="30">
                <div fxLayout="column" fxLayoutAlign="center center" class="home-font">
                    <div class="home-font-line-1">"Test Your Knowledge</div>
                    <div class="home-font-line-2">Take the Quiz!"</div>
                </div>
            </div>
        </div>

    </div>
</div>