<mat-card class="mt-20" *ngIf="user">
    <div class="p20">

    <h1>Your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqVW1Xqfo3ECJgTOqqwgo1T2UBw7ThQfk1zA&usqp=CAU"
                        alt="" class="profile-image">
                    <h1>{{ user.firstName | uppercase }} {{ user.lastName | uppercase }}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>UserID</td>
                                <td>EXAM{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{ user.authorities[0].authority }}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ user.enabled?"ACTIVE":"NOT ACTIVE" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="justify-center">
        <button mat-raised-button color="primary">Edit</button>
        <button class="ml-20" mat-raised-button color="accent">Share</button>
    </mat-card-actions>
</div>

</mat-card>