<h1 class="mt-20">Questions of {{ qTitle }}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button mat-raised-button color="primary" [routerLink]="'/admin/add-question/'+qId+'/'+qTitle">Add Question</button>
            </div>
            <mat-card *ngFor="let ques of questions; let i = index" class="mt-20">
                <mat-card-content>
                    <p> 
                        <b>Q {{i + 1}})</b>
                        <span class="ml-20" [innerHTML]="ques.content"></span> 
                    </p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>1)</b> {{ ques.option1 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>2)</b> {{ ques.option2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>3)</b> {{ ques.option3 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>4)</b> {{ ques.option4 }}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p class="mt-20"><b>Correct Answer :</b> {{ques.answer}}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="deleteQuestion(ques.quesId)">Delete</button>
                    <button mat-raised-button color="primary" class="ml-20">Update</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<!-- {{ questions | json }} -->