.class-title{
    font-size: 28px !important;
}

.class-sub-title {
    font-size: 18px !important;
}

.post-avatar{
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

.post-date{
    color: gray;
    font-size: 15px;
    font-style: normal;
    font-weight: initial;
}