<div fxLayout="column" fxLayoutAlign="start stretch" class="p-8">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
        <mat-card>
            <mat-card-header>
                <mat-card-title class="class-title">Database Management System</mat-card-title>
                <mat-card-subtitle class="class-sub-title">Database Engineering Course</mat-card-subtitle>
            </mat-card-header>
            <mat-divider class="mt-10"></mat-divider>
            <mat-card-content>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Posts">Content 1</mat-tab>
                    <mat-tab label="Teacher">Content 2</mat-tab>
                    <mat-tab label="Students">lorem1000</mat-tab>
                    <mat-tab label="Quiz">2345</mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>