/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt-2 {
    margin-top: 2px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-2 {
    margin-right: 2px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.p-10 {
    padding: 10px;
}

.p-5 {
    padding: 5px;
}

.p-8 {
    padding: 8px;
}

.bg-black {
    background-color: black !important;
    color: white !important;
}