<div class="flex flex-col">
    <div class="flex flex-row m-2">
        <div class="w-full">
            <div
                class="flex p-2 flex-row  flex-initial bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <div class="flex flex-col">
                    <div class="text-3xl">{{ classDetails.classroomTitle }}
                    </div>
                    <div class="text-2xl">{{ classDetails.classroomSubTitle }}
                    </div>
                </div>
                <div class="flex flex-row h-10 justify-start mt-4">
                    <p class="text-black-200 ml-10 border border-black-500 hover:bg-black-500 hover:text-black active:bg-black-200 text-sm px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button">
                        Class Code : <b>{{ classDetails.classroomCode }}</b>
                    </p>
                    <button class="px-4 py-2 ml-2 bg-blue-400 text-black text-sm font-medium rounded-md">
                        Regenerate code
                    </button>
                    <button routerLink="./" class="px-4 py-2 ml-2 bg-blue-600 text-white text-sm font-medium rounded-md">
                        Posts
                    </button>
                    <button routerLink="teachers" class="px-4 py-2 ml-2 bg-gray-600 text-white text-sm font-medium rounded-md">
                        Teacher
                    </button>
                    <button routerLink="students" class="px-4 py-2 ml-2 bg-slate-500 text-white text-sm font-medium rounded-md">
                        Students
                    </button>
                    <button routerLink="quiz" class="px-4 py-2 ml-2 bg-blue-300 text-black text-sm font-medium rounded-md">
                        Quiz
                    </button>
                    <button class="px-4 py-2 ml-2 bg-red-600 text-white text-sm font-medium rounded-md">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row w-full h-[calc(100vh-140px)] pb-2 flex-wrap overflow-y-scroll m-2">
        <div class="w-full items-center">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>