<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card style="margin-top: 40px;">
                    <div class="container">
                        <img class="logo-style" src="./../../assets/logo.jpg" alt="logo">
                    </div>
                    <h1 class="text-center">Login here !!!</h1>
                    <!-- {{ user | json }} -->
                    <div style="margin: 20px;">

                        <!-- <form [formGroup]="userRegistrationFrom" (ngSubmit)="onSubmitForm()"> -->
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                            <!-- username field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Name</mat-label>
                                <input matInput placeholder="Username" required formControlName="username" >
                                <mat-hint>Username must be unique!</mat-hint>
                            </mat-form-field>

                            <!-- password field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Password</mat-label>
                                <input type="password" matInput placeholder="password" required formControlName="password">
                            </mat-form-field>

                            <div class="container text-center">
                                <button type="submit" mat-raised-button color="primary">Login</button>
                            </div>
                        </form>
                    </div>

                </mat-card>
            </div>
        </div>
    </div>
</div>