.org-cnt-bg {
    background: #67e25c;
    color: #000000;
}

.active-teacher-cnt-bg {
    background: #4da8ef;
    color: #000000;
}

.in-active-teacher-cnt-bg {
    background: #f97273;
    color: #000000;
}

.active-student-cnt-bg {
    background: #dadadc;
    color: #000000;
}

.in-active-student-cnt-bg {
    background: #ebd768;
    color: #000000;
}