<div fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFill>
        <div fxLayout="column" fxFlex="20">
            <mat-card fxFill>
                <mat-card-content class="org-cnt-style org-cnt-bg">
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <div class="cnt-header-style">Total Organization</div>
                        <div class="cnt-number-style">20</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card fxFill>
                <mat-card-content class="org-cnt-style active-teacher-cnt-bg">
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <div class="cnt-header-style">Total Active Teachers</div>
                        <div class="cnt-number-style">20</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card fxFill>
                <mat-card-content class="org-cnt-style in-active-teacher-cnt-bg">
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <div class="cnt-header-style">Total In-active Teachers</div>
                        <div class="cnt-number-style">20</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card fxFill>
                <mat-card-content class="org-cnt-style active-student-cnt-bg">
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <div class="cnt-header-style">Total Active Students</div>
                        <div class="cnt-number-style">20</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card fxFill>
                <mat-card-content class="org-cnt-style in-active-student-cnt-bg">
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <div class="cnt-header-style">Total In-active Students</div>
                        <div class="cnt-number-style">20</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque aspernatur perspiciatis illo eveniet unde iste temporibus quidem expedita, tempore aliquam odit modi nemo amet perferendis dolorum laudantium consequuntur est incidunt ipsum qui quasi nulla placeat cupiditate rem? Ratione, reprehenderit quaerat aperiam aspernatur culpa ex aliquam doloribus, similique ipsum a quod!
    </div>
</div>