<div fxLayout="column">
    
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field fxFlex="50%" fxFill>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required>
        </mat-form-field>
    </div>
    <div fxLayout="row">

    </div>
</div>