<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card style="margin-top: 40px;">

                    <div class="container">
                        <img class="logo-style" src="./../../assets/logo.jpg" alt="logo">
                    </div>
                    <h1 class="text-center">Register here !!!</h1>
                    <div style="margin: 20px;">
                        <!-- {{ user | json }} -->
                        <form [formGroup]="userRegistrationFrom" (ngSubmit)="onSubmitForm()">
                            <!-- username field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Name</mat-label>
                                <input formControlName="username" matInput placeholder="Username">
                                <mat-hint>Username must be unique!</mat-hint>
                            </mat-form-field>

                            <!-- password field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Password</mat-label>
                                <input formControlName="password" type="password" matInput placeholder="password">
                            </mat-form-field>


                            <!-- firstname field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input formControlName="firstName" matInput placeholder="firstname">
                            </mat-form-field>

                            <!-- lastname -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="lastName" matInput placeholder="lastname">
                            </mat-form-field>

                            <!-- email -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>E mail</mat-label>
                                <input formControlName="email" type="email" matInput placeholder="email">
                            </mat-form-field>

                            <!-- phone no. -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>phone no.</mat-label>
                                <input formControlName="phone" matInput placeholder="phone no.">
                            </mat-form-field>

                            <div class="container text-center">
                                <button type="submit" mat-raised-button color="primary">Register</button>
                                <button type="button" (onClick)="clearForm()" class="ml-20" mat-raised-button
                                    color="accent">Clear</button>
                            </div>
                        </form>
                    </div>

                </mat-card>

            </div>
        </div>
    </div>
</div>