<div fxLayout="column" fxLayoutAlign="start stretch" class="p-8">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <!-- <button (click)="openMapstudentDialog()" mat-raised-button class="bg-black">Assign Student</button> -->
        <mat-form-field fxFlex="25">
            <mat-label>Search Quiz</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <h2>Attempts</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div class="mat-elevation-z8" fxFlex="100">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSort>

                <!-- quiz_title Column -->
                <ng-container matColumnDef="quiz_title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quiz </th>
                    <td mat-cell *matCellDef="let row"> {{row.quiz.quizTitle }}
                    </td>
                </ng-container>

                <!-- quiz status column -->
                <ng-container matColumnDef="quiz_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.quizAttempt.quizStatus}} </td>
                </ng-container>

                <!-- score -->
                <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Score </th>
                    <td mat-cell *matCellDef="let row"> {{row.quizAttempt.score }} </td>
                </ng-container>


                <!-- correct_ques_cnt -->
                <ng-container matColumnDef="correct_ques_cnt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correct Questions </th>
                    <td mat-cell *matCellDef="let row"> {{row.quizAttempt.correctQuestionsId.length }} </td>
                </ng-container>

                <!-- wrong_ques_cnt -->
                <ng-container matColumnDef="wrong_ques_cnt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Wrong Questions </th>
                    <td mat-cell *matCellDef="let row"> {{row.quizAttempt.wrongQuestionsId.length }} </td>
                </ng-container>

                <!-- not_attempted_ques_cnt -->
                <ng-container matColumnDef="not_attempted_ques_cnt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Not Attempted Questions </th>
                    <td mat-cell *matCellDef="let row"> {{row.quizAttempt.notAttemptedQuestionId.length }} </td>
                </ng-container>

                <!-- started At -->
                <ng-container matColumnDef="started_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Started At </th>
                    <td mat-cell *matCellDef="let row"> {{row.quizAttempt.attemptStartedAt | date:'yyyy/MM/dd h:mm:ss'
                        }} </td>
                </ng-container>

                <!-- not_attempted_ques_cnt -->
                <ng-container matColumnDef="completed_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed At </th>
                    <td mat-cell *matCellDef="let row"> {{row.quizAttempt.attemptEndedAt | date:'yyyy/MM/dd h:mm:ss' }}
                    </td>
                </ng-container>

                <!-- not_attempted_ques_cnt -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button class="mr-10" aria-label="Example icon button with a heart icon">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button (click)="openAttemptReportPdf(row.quizAttempt.quizId, row.quizAttempt.userId)" mat-icon-button class="mr-10" aria-label="Example icon button with a heart icon">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter
                        "{{input.value}}"</td>
                </tr>

            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>