<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 ml-4 mt-4">
    <a [routerLink]="'/admin/add-organization'" >Add Organization</a>
  </button>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-2">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Organization Name</th>
      <th scope="col" class="px-6 py-3">Description</th>
      <th scope="col" class="px-6 py-3">Created At</th>
      <th scope="col" class="px-6 py-3">Updated At</th>
      <th scope="col" class="px-6 py-3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" *ngFor="let org of organizations">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ org.orgName }}
      </th>
      <td class="px-6 py-4">
        {{ org.orgDescription }}
      </td>
      <td class="px-6 py-4">
        {{ org.createdAt | date }}
      </td>
      <td class="px-6 py-4">
        {{ org.updatedAt | date }}
      </td>
      <td class="px-6 py-4">
        <button class="inline-flex px-4 py-2 bg-gray-600 text-white text-sm font-medium rounded-md" (click)="updateOrganization(org)">
          Update
        </button>
        <button class="inline-flex px-4 py-2 ml-2 bg-red-600 text-white text-sm font-medium rounded-md" (click)="deleteOrganization(org)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
