<section class="container w-[100%] max-w-[1660px] font-mono">
  <button class="inline-flex px-4 py-2 bg-black text-white text-sm font-medium rounded-md">
    Add Organization
  </button>
  <div class="w-full mt-2 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Description</th>
            <th class="px-4 py-3">Created At</th>
            <th class="px-4 py-3">Updated At</th>
            <th class="px-4 py-3">Action</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr class="text-gray-700" *ngFor="let org of organizations">
            <!-- {{ org | json}} -->
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full" src="../../../assets/org_icon.jpg" alt="" loading="lazy" />
                </div>
                <div>
                  <p class="font-semibold text-black">{{ org.orgName }}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">{{ org.orgDescription }}</td>
            <td class="px-4 py-3 text-xs border">
              <span class="px-4 py-3 text-sm"> {{ org.createdAt }} </span>
            </td>
            <td class="px-4 py-3 text-sm border">{{ org.updatedAt }}</td>
            <td class="px-4 py-3 text-sm border">
              <button class="inline-flex px-4 py-2 bg-gray-600 text-white text-sm font-medium rounded-md">
                Update
              </button>
              <button class="inline-flex px-4 py-2 ml-2 bg-red-600 text-white text-sm font-medium rounded-md">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>