<div fxLayout="column" fxLayoutAlign="start stretch" class="p-8">
    <div fxLayout="row" fxLayoutAlign="start start">
        <h2>Add User</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="p-8">
        <div fxLayout="column" fxFlex="80">
            <form [formGroup]="addUserForm" (ngSubmit)="createUser()">
                <div fxLayout="row" fxLayoutGap="10" fxFill fxLayoutAlign="start start">
                    <div fxFlex="50">
                        <h4>Organization</h4>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-form-field fxFill formGroupName="organization">
                                <mat-label>Choose An organization</mat-label>
                                <mat-select formControlName="orgId">
                                    <mat-option *ngFor="let organization of Organizations" [value]="organization.orgId">
                                        {{ organization.orgName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="50">
                        <h4>Role</h4>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-form-field fxFill>
                                <mat-label>Choose an role</mat-label>
                                <mat-select formControlName="roleName">
                                    <mat-option value="org_admin">Organization Admin</mat-option>
                                    <mat-option value="teacher">Teacher</mat-option>
                                    <mat-option value="student">Student</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <h4>Email</h4>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFill>
                        <input matInput placeholder="e-mail" formControlName="email" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10" fxFill fxLayoutAlign="start start">
                    <div fxFlex="50">
                        <h4>Firs tName</h4>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-form-field fxFill>
                                <input matInput formControlName="firstName" placeholder="First name" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="50">
                        <h4>Last Name</h4>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-form-field fxFill>
                                <input matInput formControlName="lastName" placeholder="Last name" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <h4>Username</h4>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFill>
                        <input matInput formControlName="username" placeholder="Username" required>
                    </mat-form-field>
                </div>
                <h4>Password</h4>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFill>
                        <input matInput formControlName="password" placeholder="Password" required>
                    </mat-form-field>
                </div>
                <h4>Phone No.</h4>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFill>
                        <input matInput formControlName="phone" placeholder="Phone no." required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" type="submit">Add User</button>
                    <button mat-raised-button color="secondary" class="ml-5"
                        [routerLink]="'/admin/users'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>