<mat-card class="mt-20">
    <mat-list>
        <!-- <div mat-subheader></div> -->
        <div class="p20">
        <h1>All Categories</h1>
        <mat-list-item *ngFor="let c of categories">
            <div class="row">
                <div class="col-md-1">
                    <mat-icon matListItemIcon>category</mat-icon>
                </div>
                <div class="col-md-7">
                    <div matListItemTitle>{{c.title | uppercase}}</div>
                    <div matListItemLine>{{c.description}}</div>        
                </div>
                <div class="col-md-4">
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button class="ml-20" color="warn">Delete</button>        
                </div>
            </div>
            <div class="m-5">
                <mat-divider></mat-divider>
            </div>
        </mat-list-item>
    </div>
    </mat-list>

    <div class="container text-center m-10">
        <button mat-raised-button color="primary" routerLink="/admin/add-category">Add New Category</button>
    </div>
</mat-card>