<div fxLayout="column" fxLayoutAlign="start stretch" class="p-8">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
        <mat-card>
            <mat-card-header>
                <mat-card-title class="class-title">{{ classDetails.classroomTitle }}</mat-card-title>
                <mat-card-subtitle class="class-sub-title">{{ classDetails.classroomSubTitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider class="mt-10"></mat-divider>
            <mat-card-content>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Posts">
                        <div class="m-10">
                            <ckeditor [editor]="Editor" name="postContent" [(ngModel)]="postContent"></ckeditor>
                            <button class="mt-10" color="primary" mat-raised-button (click)="postFormSubmit()">Create
                                Post</button>
                            <div>
                                <mat-card class="mt-10" *ngFor="let post of classPosts">
                                    <mat-card-title>
                                        <div fxLayout="row" class="m-5" fxLayoutAlign="start stretch" fxFill>
                                            <div fxFlex="90">
                                                <img class="post-avatar ml-10"
                                                    src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                                    alt="" />
                                                {{ post.postCreatorName | uppercase }} <time pubdate class="post-date"
                                                    datetime="2022-02-08" title="February 8th, 2022">{{ post.createdAt |
                                                    date: 'yyyy/MM/dd h:mm:ss a'
                                                    }}</time>
                                            </div>
                                            <div fxFlex="10">
                                                <button mat-raised-button color="accent">Edit</button>
                                                <button mat-raised-button class="ml-5" color="warn"
                                                    (click)="deletePost(post.postId)">Delete</button>
                                            </div>
                                        </div>
                                    </mat-card-title>
                                    <mat-card-content>
                                        <div [innerHTML]="post.postContent"></div>
                                    </mat-card-content>
                                    <mat-card-actions class="m-5">
                                        <button mat-button (click)="openPostComments(post.postId)">
                                            <mat-icon>comment</mat-icon> Comments ({{ post.commentCount }})</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Students">
                        <app-teacher-class-students [classId]="classId"></app-teacher-class-students>
                    </mat-tab>
                    <mat-tab label="Quiz">
                        <app-teacher-class-quizzes [classId]="classId"></app-teacher-class-quizzes>
                    </mat-tab>
                    <!-- <mat-tab label="Attempts">
                        Student Quiz Attempts needs to be implemented
                    </mat-tab> -->
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>