<div fxLayout="column" fxLayoutAlign="start stretch" class="p-8">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <button mat-raised-button class="bg-black" [routerLink]="'/admin/add-classroom'">Create Quiz</button>
        <!-- <mat-form-field fxFlex="25">
            <mat-label>Search Classroom</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input> 
        </mat-form-field> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="mt-10">
        <h2>Quiz</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFill fxLayout="column">
            <mat-card mat-elevation-z8 class="m-5" *ngFor="let q of quizzes">
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex="90">
                        <div class="m-10">
                            <mat-card-title class="header-font"> {{ q.quizTitle }} </mat-card-title>
                            <mat-card-subtitle class="sub-header-font mt-10"> {{ q.quizDescription }} </mat-card-subtitle>
                            <div class="mt-10 font-15">
                                <b>Classroom : </b> {{ q.classroomName }}
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-card-actions>
                                    <button mat-button class="info-btn-style">No. of Questions: <b> {{ q.numberOfQuestions }} </b></button>
                                    <button mat-button class="info-btn-style">Total Marks: <b>{{ q.totalMarks }}</b></button>
                                    <button mat-button class="info-btn-style">Start Time: <b> {{ q.startTime | date:'yyyy/MM/dd h:mm:ss' }}</b></button>
                                    <button mat-button class="info-btn-style">End Time: <b> {{ q.endTime | date:'yyyy/MM/dd h:mm:ss' }}</b></button>
                                    <button mat-button class="info-btn-style">Duration: <b>{{ q.duration }}</b></button>
                                    <button mat-button class="info-btn-style">Status: <b> {{ q.isActive ? 'Active' : 'Not Active' }}</b></button>
                                    <button mat-raised-button color="accent" (click)="onClickViewQuizDetails(q.id)">View Details</button>
                                </mat-card-actions>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlex="10">
                        <img src="./../../../assets/exam_background1.jpg" alt="Exam Background"
                            class="quiz-bg-image-scale" />
                    </div>
                </div>
                <!-- <mat-card-header>
                    <mat-card-title-group>
                        
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content></mat-card-content> -->
            </mat-card>
        </div>
    </div>
</div>