<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row mt-20">
            <div class="col-md-2">
                <!-- instructions -->
                <h3>Instructions</h3>
            </div>
            <div class="col-md-8">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <h1><b>On Going Quiz {{ questions[0].quiz.title }} </b></h1>
                    <mat-card *ngFor="let q of questions; let i = index" class="mt-10">
                        <mat-card-content>
                            <p> <b> Q. {{ i + 1}}) </b> <span [innerHTML]="q.content"></span> </p>


                            <mat-divider></mat-divider>

                            <div class="row mt-10">
                                <div class="col-md-6">
                                    <input type="radio" [value]="q.option1" [name]="i" /> {{ q.option1 }}
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" [value]="q.option2" [name]="i" /> {{ q.option2 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="radio" [value]="q.option3" [name]="i" /> {{ q.option3 }}
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" [value]="q.option4" [name]="i" /> {{ q.option4 }}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div class="container">
                        <button mat-raised-button class="button-center mt-20" color="primary">Submit Quiz</button>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-2">
                <!-- progress -->
            </div>
        </div>
    </div>
</div>